a {
    color: #333;
}

header {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0.3rem;
    font-weight: bold;
    background: #3190e8;
    color: #fff;
    z-index: 100;
    text-align: center;
}

.icon {
    width: 1.3rem;
    position: absolute;
    right: 0.3rem;
    top: -0.01rem;
}

.iconfont {
    font-size: 0.35rem;
    padding: 0 0.1rem;
    font-weight: bold;
}

.icon-kefuzhongxin {
    font-size: 0.4rem;
}

.red {
    width: 0.27rem;
    height: 0.27rem;
    border-radius: 50%;
    background: #d76026;
    font-weight: normal;
    line-height: 0.27rem;
    font-size: 0.12rem;
    position: absolute;
    top: 0.1rem;
    right: -0.05rem;
    color: #eee;
}

.recently {
    margin-top: 0.78rem;
    width: 100%;
    height: 3.5rem;
    background-image: linear-gradient(#3190e8, #ffffff);
    padding: 0.2rem;
    box-sizing: border-box;
}

.often {
    width: 100%;
    height: 2.8rem;
    border-radius: 0.2rem;
    background: #fff;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: left;
    padding-left: 0.25rem;
}

.title span:nth-child(1) {
    font-size: 0.3rem;
    font-weight: 600;
}

.title span:nth-child(2) {
    margin-left: 48%;
    color: #999;
    font-size: 0.18rem;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper {
    padding-left: 0.25rem;
}

.swiper-slide {
    width: 1.7rem;
    margin-right: 0.15rem;
}

.swiper-slide:last-child {
    margin-right: 0.25rem;
}

.swiper-slide li img {
    width: 1.7rem;
}

.gray p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "微软雅黑";
    line-height: 0.4rem;
    font-size: 0.25rem;
}

.gray {
    width: 100%;
    height: auto;
    background: rgb(250, 249, 249);
}

.gray p:nth-child(2) {
    font-size: 0.23rem;
    color: #999;
}

.gray p span {
    font-size: 0.23rem;
    font-weight: bold;
    color: #3190e8;
}

.order {
    width: 100%;
    background: #f7f7f7;
    padding: 0.25rem;
    box-sizing: border-box;
}

.all {
    font-size: 0.23rem;
    text-align: left;
}

.all span:nth-child(1) {
    margin-left: 0;
}

.all .anniu {
    padding: 0.1rem 0;
    margin: 0 0.25rem;
    line-height: 0.4rem;
    border: none;
    background: none;
}

.all .active {
    border-bottom: #3190e8 3px solid;
}

.orderList {
    width: 100%;
    border-radius: 0.25rem;
    background: #fff;
    margin-top: 0.2rem;
}

.orderAll {
    padding: 0.15rem;
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    margin-bottom: 0.15rem;
}

.orderList a {
    display: block;
    width: 100%;
    height: auto;
}

.tou {
    display: flex;
    height: 1rem;
    justify-content: space-around;
}

.orderAll img {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.15rem;
    border-radius: 0.2rem;
}

.orderInfo {
    width: 70%;
}

.orderInfo p {
    font-size: 0.24rem;
    font-weight: bold;
    font-family: serif;
}

.discounts {
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.15rem;
    display: flex;
}

.discounts div {
    display: block;
    border: 1px solid #d76026;
    border-radius: .05rem;
    margin-right: .03rem;
    color: #d76026;
}

.discounts div:nth-child(2) {
    border: 1px solid #D9D58B;
    color: #D9D58B;
}

.center {
    display: flex;
    position: relative;
}

.pic {
    width: 1.3rem;
    height: 1.2rem;
}

.center .one {
    margin-right: 0.15rem;
    width: 1.5rem;
}

.center .two {
    margin-right: 0.15rem;
    width: 1.5rem;
}

.center div img {
    width: 100%;
    height: 100%;
}

.center div p {
    font-size: 0.23rem;
    line-height: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666
}

.center .amount {
    position: absolute;
    right: 0rem;
    top: 0.2rem;
}

.fulfill {
    font-size: 0.22rem;
    color: #999;
}

.right {
    width: 100%;
    height: 0.7rem;
    text-align: right;
    margin-top: 0.1rem;
}

.right button {
    padding: 0.15rem;
    margin: 0 0.05rem;
    border: 1px solid #aaa;
    border-radius: 0.1rem;
    color: #000;
    font-size: 0.22rem;
    background: #fff;
}

.right button:nth-child(3) {
    background: #3190e8;
    color: #eee;
}

.reveal {
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.25rem;
}

.recommend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    color: #999;
}

.line {
    width: 2rem;
    height: 1;
    border-top: 1px solid #999;
}

.recommendList {
    width: 100%;
    padding: 0.15rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    background: #F7F7F7;
}

.nominate {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.nominate a {
    display: block;
    width: 46%;
    background: #fff;
    text-align: left;
    margin-bottom: 0.2rem;
}

.nominate a img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.2rem;
}

.minBox {
    width: 100%;
    box-sizing: border-box;
    padding: 0.15rem;
    padding-bottom: 0;
}

#titles {
    font-size: 0.25rem;
}

.nominate a li p:nth-child(2) {
    font-size: 0.23rem;
    font-family: "微软雅黑";
    font-weight: bold;
    line-height: 0.4rem;
}

.yueshou {
    font-size: 0.15rem;
    font-weight: normal;
    line-height: 0.4rem;
    color: #666;
    margin-right: 0.15rem;
}

.nominate a li p:nth-child(3) {
    font-size: 0.21rem;
    color: #999;
    line-height: 0.4rem;
}

.nominate a li p:nth-child(3) b {
    margin-right: 0.15rem;
}

.nominate a li p:nth-child(3) {
    color: #ee590f;
    line-height: 0.4rem;
}

.nominate a li p:nth-child(3) span:nth-child(1) {
    font-size: 0.12rem;
}

.nominate a li p:nth-child(3) b {
    font-size: 0.28rem;
}

.nominate a li p:nth-child(3) span:nth-child(3) {
    font-size: 0.12rem;
    color: #aaa;
    text-decoration: line-through;
}

.storeName {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    border-top: 1px solid #eee;
    display: flex;
    position: relative;
}

.storeName p {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.storeName span {
    position: absolute;
    color: #ee590f;
    right: 0.3rem;
}