@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629088623694') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousou:before {
  content: "\e60e";
}

.icon-shuguogou:before {
  content: "\e63b";
}

.icon-shangjia:before {
  content: "\e60f";
}

.icon-eliaomo:before {
  content: "\e60d";
}

.icon-shouji:before {
  content: "\e501";
}

.icon-chaoshi:before {
  content: "\e618";
}

.icon-dangao:before {
  content: "\e636";
}

.icon-eye-close:before {
  content: "\e50c";
}

.icon-miao:before {
  content: "\e623";
}

.icon-gantanhao:before {
  content: "\e68a";
}

.icon-yinpin:before {
  content: "\e61e";
}

.icon-hanbao:before {
  content: "\e609";
}

.icon-xingxing:before {
  content: "\e615";
}

.icon-icon-copy:before {
  content: "\e502";
}

.icon-paixu:before {
  content: "\e60a";
}

.icon-right:before {
  content: "\e527";
}

.icon-zimu:before {
  content: "\e696";
}

.icon-mine-active:before {
  content: "\e504";
}

.icon-not-found:before {
  content: "\e602";
}

.icon-AS:before {
  content: "\e505";
}

.icon-start:before {
  content: "\e506";
}

.icon-xinpin:before {
  content: "\e613";
}

.icon-wenhao:before {
  content: "\e6a2";
}

.icon-caixi:before {
  content: "\e6a3";
}

.icon-start2:before {
  content: "\e503";
}

.icon-gouwuche1:before {
  content: "\e51f";
}

.icon-huomiao:before {
  content: "\e746";
}

.icon-shangcheng:before {
  content: "\e507";
}

.icon-kefuzhongxin:before {
  content: "\e646";
}

.icon-icon_shangjia:before {
  content: "\e6f0";
}

.icon-chahao:before {
  content: "\e612";
}

.icon-huangguan:before {
  content: "\e606";
}

.icon-fuwuzhongxin:before {
  content: "\e60b";
}

.icon-fengniao:before {
  content: "\ef89";
}

.icon-icon-:before {
  content: "\e508";
}

.icon-location:before {
  content: "\e509";
}

.icon-zhongs:before {
  content: "\e50a";
}

.icon-jiage:before {
  content: "\e70f";
}

.icon-sousuo:before {
  content: "\e639";
}

.icon-xing:before {
  content: "\e50b";
}

